{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <h3 style="color: #5AB190">ABOUT</h3>
    </br>
    <p>
        Minerva is a web application designed and implemented to facilitate the fundamental analysis 
        of common stocks listed on NASDAQ and NYSE. Users are able to analyse and compare the
        profitability, liquidity, leverage, efficiency and market value of various companies using a 
        variety of different ratios.
    </p>
{% endblock %}
