{% extends "layout.html" %}

{% block title %}
    Holdings
{% endblock %}

{% block main %}
    <h3 style="text-align: left">
        Holdings
    </h3>
    </br>
    <table>
        <tr>
            <th>Total</th>
            <th>Stocks</th>
            <th>Funds</th>
            <th></th>
            <th></th>
        </tr>
        <tr style="border-bottom: 0px">
            <td>{{ total }}</td>
            <td>{{ stocks }}</td>
            <td>{{ funds }}</td>
            <td></td>
            <td></td>
        <tr>
    </table>
    </br>
    <table>
        <tr>
            <th>Ticker</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Current Price</th>
            <th>Market Value</th>
        </tr>
        {% for row in range((holdings|length)) %}
        <tr>
            <td>{{ holdings[row][2] }}</td>
            <td>{{ holdings[row][3] }}</td>
            <td>{{ holdings[row][4] }}</td>
            <td>{{ current_prices[row] }}</td>
            <td>{{ market_values[row] }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
