{% extends "layout.html" %}

{% block title %}
    {{ ticker }} Sold
{% endblock %}

{% block main %}
    <h3>
        Sold
    </h3>
    </br>
    <table>
        <tr>
            <th>Ticker</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
        <tr>
            <td>{{ old_holding[2] }}</td>
            <td>{{ old_holding[3] }}</td>
            <td>{{ old_holding[4] }}</td>
            <td>{{ old_holding[5]|usd_no_sign }}</td>
            <td>{{ old_holding[6] }}</td>
            <td>{{ old_holding[7] }}</td>
        </tr>
    </table>
{% endblock %}
