nav
{
    /* Changes size of navigation bar */
    height: 70px;
}

nav .navbar-brand
{
    /* Changes font size of navigation bar logo */
    font-size: 36px;
    margin-bottom: 10px;
}

nav .navbar-nav li a
{
    /* change colour of navbar text*/
    font-size: 16px;
    margin-bottom: 10px;
}

.bg-dark
{
    /* change colour of navbar background*/
    background-color: #18181C !important;
}

.border-bottom {
    /* Adds bottom border to navigation bar and colours it */
    border-bottom: 1px solid #5AB190 !important;
}

.border-top {
    /* Changes footer border and colour */
    border-top: 1px solid #5AB190 !important;
}

nav a span
{
    font-family: "Archivo";
    font-size: 24px;
    color: #F2F2F4;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;

    /* establish minimum height of webpage using vh and and navbar heights */
    min-height: calc(100vh - 70px);
}

body
{
    font-family: "Bai Jamjuree";
    background-color: #0E0E0F;
    color: #F2F2F4;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

h1
{
    font-size: 192px;
}
h2
{
    font-size: 96px;
}
h3
{
    font-size: 36px;
    text-align: left;
}
h4
{
    font-size: 24px;
    text-align: left;
}
p
{
    font-size: 18px;
    text-align: left;
}

input
{
    width: 193px !important;
}

select
{
    width: 193px !important;
}

footer
{
    height: 70px;
    background-color: #18181C;
    font-size: 16px !important;
}

footer span
{
    font-size: 18px;
    margin-left: 17px;
    margin-right: 17px;
    margin-top: 22px;
}

hr
{
    background-color: #5AB190;
}

table
{
    border-collapse: collapse;
    width: 100%;
    text-align: right;
    table-layout: fixed;
}
tr
{
    border-bottom: 1px solid #F2F2F4;
}
th
{
    color: #5AB190;
}

.form-control:focus
{
    /*Change text-field border colour*/
    border-color: #5AB190;

    /*Change text-field glow colour*/
    box-shadow: 0 0 0 0.2rem rgba(90, 177, 144, 0.25);
}

/*Change button properities (interaction)*/
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited
{
    background-color: #418068 !important;
    border-color: #418068 !important;
}

/*Change button properities (static)*/
.btn-primary {
    color: #F2F2F4 !important;
    background-color: #5AB190 !important;
    border-color: #5AB190 !important;
    outline: 0px !important;
}

.btn-primary:focus
{
    /*Change after-click shadow*/
    box-shadow: 0 0 0 0.2rem rgba(65, 128, 104, 0.25) !important;
}

.parent {
    position: relative;
}

.child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0E0E0F;
    padding-top: 5px;
}

.sticky + .content {
    padding-top: 50px;
}
