{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <h3>About</h3>
    </br>
    <p>
        Dinero is a web application designed and implemented to enable the simulated investment in 
        common stocks listed on NASDAQ and NYSE. Users are able to manage their stock portfolios, 
        retrieve live stock quotes, buy and sell shares, view their history of stock buy and sell 
        orders and add cash to their accounts to fund future purchases of securities.
    </p>
{% endblock %}