{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <div class="child">
        <h3 class="header-center">Sell</h3>
        </br>
        <form action="/sell" method="post">
            <!--'Ticker' field-->
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="ticker" placeholder="Ticker" type="text">
            </div>

            <!--'Shares' field-->
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" min="1" name="shares" placeholder="Shares" type="number">
            </div>

            <!--'Password' field-->
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password">
            </div>

            <!--'Confirmation' field-->
            <div class="form-group">
                <input class="form-control" name="confirmation" placeholder="Confirmation" type="password">
            </div>

            <!--'Sell' button-->
            <button class="btn btn-primary" type="submit">Sell</button>
        </form>
    </div>
{% endblock %}
