{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h3 style="text-align: left">
        History
    </h3>
    </br>
    <table>
        <tr>
            <th>ID</th>
            <th>Ticker</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
        {% for row in history %}
        <tr>
            <td>{{ row["id"] }}</td>
            <td>{{ row["ticker"] }}</td>
            <td>{{ row["name"] }}</td>
            <td>{{ row["shares"] }}</td>
            <td>{{ row["price"] }}</td>
            <td>{{ row["date"] }}</td>
            <td>{{ row["time"] }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
