{% extends "layout.html" %}

{% block title %}
    Holdings
{% endblock %}

{% block main %}
    <h3 style="text-align: left">
        Holdings
    </h3>
    </br>
    <table>
        <tr>
            <th>Total</th>
            <th>Stocks</th>
            <th>Funds</th>
            <th></th>
            <th></th>
        </tr>
        <tr style="border-bottom: 0px">
            <td>{{ total }}</td>
            <td>{{ stocks }}</td>
            <td>{{ funds }}</td>
            <td></td>
            <td></td>
        <tr>
    </table>
    </br>
    <table>
        <tr>
            <th>Ticker</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Current Price</th>
            <th>Market Value</th>
        </tr>
        {% for row in holdings %}
        <tr>
            <td>{{ row["ticker"] }}</td>
            <td>{{ row["name"] }}</td>
            <td>{{ row["shares"] }}</td>
            <td>{{ row["current_price"] }}</td>
            <td>{{ row["market_value"] }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
