{% extends "layout.html" %}

{% block title %}
    Information
{% endblock %}

{% block main %}
    <h3 style="text-align: left">Information</h3>
    </br>
    <h4 style="text-align: left">Currency</h4>
    <ul style="text-align: left">
        <li>Monetary figures are in the United States Dollar (USD)</li>
    </ul>

    <h4 style="text-align: left">Dates</h4>
    <ul style="text-align: left">
        <li><p>Format: DD/MM/YYYY</p></li>
    </ul>

    <h4 style="text-align: left">Times</h4>
    <ul style="text-align: left">
        <li><p>Clock: 24-Hour</p></li>
        <li><p>Format: hh:mm:ss</p></li>
        <li><p>Time: Coordinated Universal Time (UTC)</p></li>
    </ul>

    <h4 style="text-align: left">Exchanges</h4>
    <ul style="text-align: left">
        <li><p style="text-align: left">Dinero supports trading of stocks listed on the NASDAQ and NYSE</p></li>
        <li><p>View <a href="https://iextrading.com/trading/eligible-symbols/">IEX's 'Eligible Symbols'</a> list for the full list of supported stocks</p></li>
    </ul>
{% endblock %}
