{% extends "layout.html" %}

{% block title %}
    {{ listOfRatiosForCompanyOne[0]["ticker"] }}, {{ listOfRatiosForCompanyTwo[0]["ticker"] }} and {{ listOfRatiosForCompanyThree[0]["ticker"] }} Comparison
{% endblock %}

{% block main %}
    <h3 style="color: #5AB190">
        {{ listOfRatiosForCompanyOne[0]["ticker"] }}, {{ listOfRatiosForCompanyTwo[0]["ticker"] }} and {{ listOfRatiosForCompanyThree[0]["ticker"] }} Comparison
    </h3>
    </br>
    <!--Profitability Ratios-->
    <h3>
        PROFITABILITY RATIOS
    </h3>
    <table>
        <!--Header information-->
        <tr>
            <th></th>
            <th></th>
            <th>{{ listOfRatiosForCompanyOne[0]["date"] }}</th>
        </tr>
        <!--Operating Profit Margin-->
        <!--Company One-->
        <tr>
            <td rowspan=3 style="text-align: center">OPM</td>
            <td>{{ listOfRatiosForCompanyOne[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyOne[0]["operatingProfitMargin"] }}</td>
        </tr>
        <!--Company Two-->
        <tr>
            <td>{{ listOfRatiosForCompanyTwo[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyTwo[0]["operatingProfitMargin"] }}</td>
        </tr>
        <!--Company Three-->
        <tr>
            <td>{{ listOfRatiosForCompanyThree[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyThree[0]["operatingProfitMargin"] }}</td>
        </tr>
        <!--Operating Profit Margin-->
        <!--Company One-->
        <tr>
            <td rowspan=3 style="text-align: center">GPM</td>
            <td>{{ listOfRatiosForCompanyOne[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyOne[0]["grossProfitMargin"] }}</td>
        </tr>
        <!--Company Two-->
        <tr>
            <td>{{ listOfRatiosForCompanyTwo[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyTwo[0]["grossProfitMargin"] }}</td>
        </tr>
        <!--Company Three-->
        <tr>
            <td>{{ listOfRatiosForCompanyThree[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyThree[0]["grossProfitMargin"] }}</td>
        </tr>
        <!--Net Profit Margin-->
        <!--Company One-->
        <tr>
            <td rowspan=3 style="text-align: center">NPM</td>
            <td>{{ listOfRatiosForCompanyOne[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyOne[0]["netProfitMargin"] }}</td>
        </tr>
        <!--Company Two-->
        <tr>
            <td>{{ listOfRatiosForCompanyTwo[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyTwo[0]["netProfitMargin"] }}</td>
        </tr>
        <!--Company Three-->
        <tr>
            <td>{{ listOfRatiosForCompanyThree[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyThree[0]["netProfitMargin"] }}</td>
        </tr>
        <!--Return on Assets-->
        <!--Company One-->
        <tr>
            <td rowspan=3 style="text-align: center">ROA</td>
            <td>{{ listOfRatiosForCompanyOne[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyOne[0]["returnOnAssets"] }}</td>
        </tr>
        <!--Company Two-->
        <tr>
            <td>{{ listOfRatiosForCompanyTwo[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyTwo[0]["returnOnAssets"] }}</td>
        </tr>
        <!--Company Three-->
        <tr>
            <td>{{ listOfRatiosForCompanyThree[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyThree[0]["returnOnAssets"] }}</td>
        </tr>
        <!--Return on Equity-->
        <!--Company One-->
        <tr>
            <td rowspan=3 style="text-align: center">ROE</td>
            <td>{{ listOfRatiosForCompanyOne[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyOne[0]["returnOnEquity"] }}</td>
        </tr>
        <!--Company Two-->
        <tr>
            <td>{{ listOfRatiosForCompanyTwo[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyTwo[0]["returnOnEquity"] }}</td>
        </tr>
        <!--Company Three-->
        <tr>
            <td>{{ listOfRatiosForCompanyThree[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyThree[0]["returnOnEquity"] }}</td>
        </tr>
    </table>
    </br>
    <!--Liquidity Ratios-->
    <h3>
        LIQUIDITY RATIOS
    </h3>
    <table>
        <!--Header information-->
        <tr>
            <th></th>
            <th></th>
            <th>{{ listOfRatiosForCompanyOne[0]["date"] }}</th>
        </tr>
        <!--Current Ratio-->
        <!--Company One-->
        <tr>
            <td rowspan=3 style="text-align: center">CAR</td>
            <td>{{ listOfRatiosForCompanyOne[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyOne[0]["currentRatio"] }}</td>
        </tr>
        <!--Company Two-->
        <tr>
            <td>{{ listOfRatiosForCompanyTwo[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyTwo[0]["currentRatio"] }}</td>
        </tr>
        <!--Company Three-->
        <tr>
            <td>{{ listOfRatiosForCompanyThree[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyThree[0]["currentRatio"] }}</td>
        </tr>
        <!--Quick Ratio-->
        <!--Company One-->
        <tr>
            <td rowspan=3 style="text-align: center">QAR</td>
            <td>{{ listOfRatiosForCompanyOne[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyOne[0]["quickRatio"] }}</td>
        </tr>
        <!--Company Two-->
        <tr>
            <td>{{ listOfRatiosForCompanyTwo[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyTwo[0]["quickRatio"] }}</td>
        </tr>
        <!--Company Three-->
        <tr>
            <td>{{ listOfRatiosForCompanyThree[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyThree[0]["quickRatio"] }}</td>
        </tr>
    </table>
    </br>
    <!--Leverage Ratios-->
    <h3>
        LEVERAGE RATIOS
    </h3>
    <table>
        <!--Header information-->
        <tr>
            <th></th>
            <th></th>
            <th>{{ listOfRatiosForCompanyOne[0]["date"] }}</th>
        </tr>
        <!--Debt-Asset Ratio-->
        <!--Company One-->
        <tr>
            <td rowspan=3 style="text-align: center">DAR</td>
            <td>{{ listOfRatiosForCompanyOne[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyOne[0]["debtAssetRatio"] }}</td>
        </tr>
        <!--Company Two-->
        <tr>
            <td>{{ listOfRatiosForCompanyTwo[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyTwo[0]["debtAssetRatio"] }}</td>
        </tr>
        <!--Company Three-->
        <tr>
            <td>{{ listOfRatiosForCompanyThree[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyThree[0]["debtAssetRatio"] }}</td>
        </tr>
        <!--Debt-Equity Ratio-->
        <!--Company One-->
        <tr>
            <td rowspan=3 style="text-align: center">DER</td>
            <td>{{ listOfRatiosForCompanyOne[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyOne[0]["debtEquityRatio"] }}</td>
        </tr>
        <!--Company Two-->
        <tr>
            <td>{{ listOfRatiosForCompanyTwo[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyTwo[0]["debtEquityRatio"] }}</td>
        </tr>
        <!--Company Three-->
        <tr>
            <td>{{ listOfRatiosForCompanyThree[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyThree[0]["debtEquityRatio"] }}</td>
        </tr>
        <!--Interest Coverage Ratio-->
        <!--Company One-->
        <tr>
            <td rowspan=3 style="text-align: center">ICR</td>
            <td>{{ listOfRatiosForCompanyOne[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyOne[0]["interestCoverageRatio"] }}</td>
        </tr>
        <!--Company Two-->
        <tr>
            <td>{{ listOfRatiosForCompanyTwo[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyTwo[0]["interestCoverageRatio"] }}</td>
        </tr>
        <!--Company Three-->
        <tr>
            <td>{{ listOfRatiosForCompanyThree[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyThree[0]["interestCoverageRatio"] }}</td>
        </tr>
    </table>
    </br>
    <!--Efficiency Ratios-->
    <h3>
        EFFICIENCY RATIOS
    </h3>
    <table>
        <!--Header information-->
        <tr>
            <th></th>
            <th></th>
            <th>{{ listOfRatiosForCompanyOne[0]["date"] }}</th>
        </tr>
        <!--Inventory Turnover-->
        <!--Company One-->
        <tr>
            <td rowspan=3 style="text-align: center">ITR</td>
            <td>{{ listOfRatiosForCompanyOne[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyOne[0]["inventoryTurnover"] }}</td>
        </tr>
        <!--Company Two-->
        <tr>
            <td>{{ listOfRatiosForCompanyTwo[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyTwo[0]["inventoryTurnover"] }}</td>
        </tr>
        <!--Company Three-->
        <tr>
            <td>{{ listOfRatiosForCompanyThree[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyThree[0]["inventoryTurnover"] }}</td>
        </tr>
        <!--Receivables Turnover-->
        <!--Company One-->
        <tr>
            <td rowspan=3 style="text-align: center">RTR</td>
            <td>{{ listOfRatiosForCompanyOne[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyOne[0]["receivablesTurnover"] }}</td>
        </tr>
        <!--Company Two-->
        <tr>
            <td>{{ listOfRatiosForCompanyTwo[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyTwo[0]["receivablesTurnover"] }}</td>
        </tr>
        <!--Company Three-->
        <tr>
            <td>{{ listOfRatiosForCompanyThree[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyThree[0]["receivablesTurnover"] }}</td>
        </tr>
        <!--Payables Turnover-->
        <!--Company One-->
        <tr>
            <td rowspan=3 style="text-align: center">PTR</td>
            <td>{{ listOfRatiosForCompanyOne[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyOne[0]["payablesTurnover"] }}</td>
        </tr>
        <!--Company Two-->
        <tr>
            <td>{{ listOfRatiosForCompanyTwo[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyTwo[0]["payablesTurnover"] }}</td>
        </tr>
        <!--Company Three-->
        <tr>
            <td>{{ listOfRatiosForCompanyThree[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyThree[0]["payablesTurnover"] }}</td>
        </tr>
        <!--Asset Turnover-->
        <!--Company One-->
        <tr>
            <td rowspan=3 style="text-align: center">ATR</td>
            <td>{{ listOfRatiosForCompanyOne[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyOne[0]["assetTurnover"] }}</td>
        </tr>
        <!--Company Two-->
        <tr>
            <td>{{ listOfRatiosForCompanyTwo[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyTwo[0]["assetTurnover"] }}</td>
        </tr>
        <!--Company Three-->
        <tr>
            <td>{{ listOfRatiosForCompanyThree[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyThree[0]["assetTurnover"] }}</td>
        </tr>
    </table>
    </br>
    <!--Market Ratios-->
    <h3>
        MARKET RATIOS
    </h3>
    <table>
        <!--Header information-->
        <tr>
            <th></th>
            <th></th>
            <th>{{ listOfRatiosForCompanyOne[0]["date"] }}</th>
        </tr>
        <!--Earnings per Share-->
        <!--Company One-->
        <tr>
            <td rowspan=3 style="text-align: center">EPS</td>
            <td>{{ listOfRatiosForCompanyOne[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyOne[0]["earningsPerShare"] }}</td>
        </tr>
        <!--Company Two-->
        <tr>
            <td>{{ listOfRatiosForCompanyTwo[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyTwo[0]["earningsPerShare"] }}</td>
        </tr>
        <!--Company Three-->
        <tr>
            <td>{{ listOfRatiosForCompanyThree[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyThree[0]["earningsPerShare"] }}</td>
        </tr>
        <!--Price-Earnings Ratio-->
        <!--Company One-->
        <tr>
            <td rowspan=3 style="text-align: center">PER</td>
            <td>{{ listOfRatiosForCompanyOne[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyOne[0]["priceEarningsRatio"] }}</td>
        </tr>
        <!--Company Two-->
        <tr>
            <td>{{ listOfRatiosForCompanyTwo[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyTwo[0]["priceEarningsRatio"] }}</td>
        </tr>
        <!--Company Three-->
        <tr>
            <td>{{ listOfRatiosForCompanyThree[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyThree[0]["priceEarningsRatio"] }}</td>
        </tr>
        <!--Dividend Yield-->
        <!--Company One-->
        <tr>
            <td rowspan=3 style="text-align: center">DYR</td>
            <td>{{ listOfRatiosForCompanyOne[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyOne[0]["dividendYield"] }}</td>
        </tr>
        <!--Company Two-->
        <tr>
            <td>{{ listOfRatiosForCompanyTwo[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyTwo[0]["dividendYield"] }}</td>
        </tr>
        <!--Company Three-->
        <tr>
            <td>{{ listOfRatiosForCompanyThree[0]["ticker"] }}</td>
            <td>{{ listOfRatiosForCompanyThree[0]["dividendYield"] }}</td>
        </tr>
    </table>
{% endblock %}
