{% extends "layout.html" %}

{% block title %}
    Ratios
{% endblock %}

{% block main %}
    <h3 style="color: #5AB190">
        RATIOS
    </h3>
    </br>
    <h3>
        PROFITABILITY RATIOS
        <a href="https://www.thebalancesmb.com/profitability-ratio-analysis-393185" target="_blank" style="color: #DABDFF">
            <svg width="0.9em" height="0.9em" viewBox="0 0 16 16" class="bi bi-box-arrow-up-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg" transform="translate(0 -3.8)">
                <path fill-rule="evenodd" d="M1.5 13A1.5 1.5 0 0 0 3 14.5h8a1.5 1.5 0 0 0 1.5-1.5V9a.5.5 0 0 0-1 0v4a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 0 0-1H3A1.5 1.5 0 0 0 1.5 5v8zm7-11a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.5H9a.5.5 0 0 1-.5-.5z"/>
                <path fill-rule="evenodd" d="M14.354 1.646a.5.5 0 0 1 0 .708l-8 8a.5.5 0 0 1-.708-.708l8-8a.5.5 0 0 1 .708 0z"/>
            </svg>
        </a>
    </h3>
    <h4>OVERVIEW</h4>
    <hr>
    <p>
        Profitability ratios, discussed and illustrated below, show a company's overall efficiency in using its assets
        and performance at the end of each quarter or year. Profitability ratios are divided into two types:
        <ul style="text-align: left">
            <li>
                Margin Ratios – ratios which represent a firm's ability to translate sales dollars into profits at
                various stages of measurement.
            </li>
            <li>
                Return Ratios – ratios that show returns represent the firm's ability to measure the overall efficiency
                of the firm in generating returns for its shareholders.
            </li>
        </ul>
    </p>
    <h4>RATIOS</h4>
    <hr>
    <p style="color: #5AB190">Operating Profit Margin | OPM</p>
    <p>
        The Operating Profit is usually referred to as Earnings Before Interest and Taxes (EBIT) on a business's Income
        Statement. The OPM is EBIT as a percentage of sales. It is a measure of a company's overall
        operating efficiency. It differs from the gross profit margin by further subtracting out the expenses of
        ordinary, daily business activity from sales.
    </p>
    <p>
        The OPM is calculated using this formula: EBIT/Sales. If EBIT is $20 and sales are $100,
        then the operating profit margin is 20%. Both terms of the equation come from the company's income statement.
    </p>
    <p style="color: #5AB190">Gross Profit Margin | GPM</p>
    <p>
        The gross profit margin calculates the cost of goods sold as a percent of sales, both numbers found on the
        income statement. This ratio looks at how well a company controls the cost of its inventory and the
        manufacturing of its products and subsequently passes on the costs to its customers. The larger the gross
        profit margin, the better for the company.
    </p>
    <p>
        Calculate gross profit margin by first subtracting the cost of goods sold from sales. If sales are $100 and
        the cost of goods sold is $60, the gross profit is $40. Then divide gross profit by sales which would be:
        $40/$100 = 40%. The gross profit margin, which is the amount of sales revenue that can be devoted to utilities,
        inventory, and manufacturing costs is 40% of sales.
    </p>
    <p style="color: #5AB190">Net Profit Margin | NPM</p>
    <p>
        When doing a simple profitability ratio analysis, the net profit margin is the most often margin ratio used.
        The net profit margin shows how much of each sales dollar remains as net income after all expenses are paid.
        For example, if the net profit margin is 5 percent, that means that 5 cents of every dollar of sales made are
        profit. The net profit margin measures profitability after consideration of all expenses including taxes,
        interest, and depreciation. The calculation is: Net Income/Net Sales = _%. Both terms of the equation
        come from the income statement.
    </p>
    <p style="color: #5AB190">Return on Assets | ROA</p>
    <p>
        The Return on Assets ratio is an important profitability ratio because it measures the efficiency with which
        the company is managing its investment in assets and using them to generate profit. It measures the amount of
        profit earned relative to the firm's level of investment in total assets. The return on assets ratio is related
        to the asset management category of financial ratios.
    </p>
    <p>
        The calculation for the return on assets ratio is: Net Income/Total Assets = _%. Net Income is taken from
        the income statement, and total assets are taken from the balance sheet. The higher the percentage, the better,
        because that means the company is doing a good job using its assets to generate sales.
    </p>
    <p style="color: #5AB190">Return on Equity | ROE</p>
    <p>
       The Return on Equity ratio is perhaps the most important of all the financial ratios to a publicly-held
       company's investors. It measures the return on the money the investors have put into the company. It is the
       ratio potential investors look at when deciding whether or not to invest in the company. The calculation is Net
       Income/Stockholder's Equity = _%. Net income comes from the income statement, and stockholder's equity comes
       from the balance sheet. In general, the higher the percentage, the better, with some exceptions, as it shows
       that the company is doing a good job using the investors' money.
    </p>

    <h3>
        LIQUIDITY RATIOS
        <a href="https://www.thebalancesmb.com/what-are-liquidity-ratios-393197" target="_blank" style="color: #DABDFF">
            <svg width="0.9em" height="0.9em" viewBox="0 0 16 16" class="bi bi-box-arrow-up-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg" transform="translate(0 -3.8)">
                <path fill-rule="evenodd" d="M1.5 13A1.5 1.5 0 0 0 3 14.5h8a1.5 1.5 0 0 0 1.5-1.5V9a.5.5 0 0 0-1 0v4a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 0 0-1H3A1.5 1.5 0 0 0 1.5 5v8zm7-11a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.5H9a.5.5 0 0 1-.5-.5z"/>
                <path fill-rule="evenodd" d="M14.354 1.646a.5.5 0 0 1 0 .708l-8 8a.5.5 0 0 1-.708-.708l8-8a.5.5 0 0 1 .708 0z"/>
            </svg>
        </a>
    </h3>
    <h4>OVERVIEW</h4>
    <hr>
    <p>
        Someone who mentions liquidity in investing is usually referring to the ability of an entity to convert its
        assets into cash. In other words, a business analyst might want to know how quickly a company can get its hands
        on funds to cover its outstanding bills. It's important for companies, and a sign of their financial health, to
        have enough cash to cover their payment obligations on an ongoing basis without needing to go to outside
        sources for capital.
    </p>
    <p>
        In business or accounting, the ability of a business to pay its short-term obligations and debts when they are
        due is usually quantified by calculating and reviewing the current ratio as a liquidity ratio or percentage of
        liabilities.
    </p>
    <p>
        The liquidity of a business firm is usually of particular interest to its short-term creditors since the amount
        of existing liquidity says a lot about the company's ability to pay those creditors. Generally, the higher the
        value of the liquidity ratio, the greater the margin of safety a company possesses in its ability to pay its
        bills.
    </p>
    <h4>RATIOS</h4>
    <hr>
    <p style="color: #5AB190">Current Ratio | CAR</p>
    <p>
        The simplest is the current ratio, which equals total current assets divided by total current liabilities.
        It borrows from the investing definition because it assumes all the assets can be converted instantly into
        cash, which is often not the case. A value of over 100 percent is not unusual when calculating the current
        ratio.
    </p>
    <p style="color: #5AB190">Quick Ratio | QAR</p>
    <p>
        The quick ratio, or acid test, measures a business' ability to meet current liabilities from assets that can be
        readily sold, although it is preferable to meet these obligations from cash flow. The quick ratio deducts
        inventories and prepayments from current assets, then divides them by current liabilities.
    </p>

    <h3>
        LEVERAGE RATIOS
        <a href="https://www.thebalancesmb.com/financial-leverage-ratios-to-measure-business-393195" target="_blank" style="color: #DABDFF">
            <svg width="0.9em" height="0.9em" viewBox="0 0 16 16" class="bi bi-box-arrow-up-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg" transform="translate(0 -3.8)">
                <path fill-rule="evenodd" d="M1.5 13A1.5 1.5 0 0 0 3 14.5h8a1.5 1.5 0 0 0 1.5-1.5V9a.5.5 0 0 0-1 0v4a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 0 0-1H3A1.5 1.5 0 0 0 1.5 5v8zm7-11a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.5H9a.5.5 0 0 1-.5-.5z"/>
                <path fill-rule="evenodd" d="M14.354 1.646a.5.5 0 0 1 0 .708l-8 8a.5.5 0 0 1-.708-.708l8-8a.5.5 0 0 1 .708 0z"/>
            </svg>
        </a>
    </h3>
    <h4>OVERVIEW</h4>
    <hr>
    <p>
        Financial leverage ratios are also called debt ratios. You may also find them called long-term solvency ratios.
        They measure the ability of the business to meet its long-term debt obligations, such as interest payments on
        debt, the final principal payment on the debt, and any other fixed obligations like lease payments. Long-term
        debt is defined as obligations to repay with a maturity of more than one year.
    </p>
    <p>
        These ratios compare the overall debt load of a company to its assets or equity, showing how much of the
        company assets below to shareholders vs. creditors. If shareholders own more assets, the company is said to be
        less leveraged. If creditors own a majority of assets, the company is said to be highly leveraged. Clearly,
        financial leverage ratios help management and investors understand the risk level of the capital structure
        of a company.
    </p>
    <h4>RATIOS</h4>
    <hr>
    <p style="color: #5AB190">Debt-Asset Ratio | DAR</p>
    <p>
        The debt ratio measures a company's total liabilities against its total assets and is expressed as a
        percentage. It implies the company's ability to satisfy its liabilities with its assets, or how many assets the
        company must sell to pay all its liabilities. It shows the company's overall debt burden.
    </p>
    <p>
        The debt ratio is calculated by dividing total liabilities by total assets. Both of these numbers can easily be
        found on the balance sheet. A lower ratio, .5% or less, is seen as favorable, indicating stability and
        longevity. A ratio of 1 means that total liabilities equals total assets. In other words, the company would
        have to sell off all of its assets in order to pay off its liabilities.
    </p>
    <p style="color: #5AB190">Debt-Equity Ratio | DER</p>
    <p>
        The debt to equity ratio compares a company's total debt to total equity, indicating the percentage of company
        financing that comes from creditors and investors. A higher debt to equity ratio indicates that more creditor
        financing (bank loans) is used than investor financing (shareholders).
    </p>
    <p>
        The debt to equity ratio is calculated by dividing total liabilities by total equity. The debt to equity ratio
        is considered a balance sheet ratio because all of the elements are reported on the balance sheet. A debt to
        equity ratio of 1 would mean that investors and creditors have an equal stake in the business assets. A lower
        debt to equity ratio usually implies a more financially stable business.
    </p>
    <p style="color: #5AB190">Interest Coverage Ratio | ICR</p>
    <p>
        The interest coverage ratio is a debt ratio and profitability ratio used to determine how easily a company can
        pay interest on its outstanding debt. The interest coverage ratio may be calculated by dividing a company's
        earnings before interest and taxes (EBIT) during a given period by the company's interest payments due within
        the same period.
    </p>
    <p>
        The Interest coverage ratio is also called “times interest earned.” Lenders, investors, and creditors often use
        this formula to determine a company's riskiness relative to its current debt or for future borrowing.
        <a href="https://www.investopedia.com/terms/i/interestcoverageratio.asp" target="_blank" style="color: #DABDFF">
            <svg width="0.9em" height="0.9em" viewBox="0 0 16 16" class="bi bi-box-arrow-up-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg" transform="translate(0 -3.8)">
                <path fill-rule="evenodd" d="M1.5 13A1.5 1.5 0 0 0 3 14.5h8a1.5 1.5 0 0 0 1.5-1.5V9a.5.5 0 0 0-1 0v4a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 0 0-1H3A1.5 1.5 0 0 0 1.5 5v8zm7-11a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.5H9a.5.5 0 0 1-.5-.5z"/>
                <path fill-rule="evenodd" d="M14.354 1.646a.5.5 0 0 1 0 .708l-8 8a.5.5 0 0 1-.708-.708l8-8a.5.5 0 0 1 .708 0z"/>
            </svg>
        </a>
    </p>

    <h3>
        EFFICIENCY RATIOS
        <a href="https://www.thebalancesmb.com/use-asset-management-ratios-in-financial-ratio-analysis-393187" target="_blank" style="color: #DABDFF">
            <svg width="0.9em" height="0.9em" viewBox="0 0 16 16" class="bi bi-box-arrow-up-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg" transform="translate(0 -3.8)">
                <path fill-rule="evenodd" d="M1.5 13A1.5 1.5 0 0 0 3 14.5h8a1.5 1.5 0 0 0 1.5-1.5V9a.5.5 0 0 0-1 0v4a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 0 0-1H3A1.5 1.5 0 0 0 1.5 5v8zm7-11a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.5H9a.5.5 0 0 1-.5-.5z"/>
                <path fill-rule="evenodd" d="M14.354 1.646a.5.5 0 0 1 0 .708l-8 8a.5.5 0 0 1-.708-.708l8-8a.5.5 0 0 1 .708 0z"/>
            </svg>
        </a>
    </h3>
    <h4>OVERVIEW</h4>
    <hr>
    <p>
        Asset management ratios are the key to analyzing how effectively and efficiently your small business is
        managing its assets to produce sales. Asset management ratios are also called turnover ratios or efficiency
        ratios. If you have too much invested in your company's assets, your operating capital will be too high. If you
        don't have enough invested in assets, you will lose sales and that will hurt your profitability, free cash
        flow, and stock price.
    </p>
    <p>
        You, as the owner of your business, have the task of determining the right amount to invest in each of your
        asset accounts. You do that by comparing your firm to other companies in your industry and see how much they
        have invested in asset accounts. You also keep track of how much you have invested in your asset accounts from
        year to year and see what works.
    </p>
    <h4>RATIOS</h4>
    <hr>
    <p style="color: #5AB190">Inventory Turnover | ITR</p>
    <p>
        The inventory turnover ratio is one of the most important asset management or turnover ratios. If your firm
        sells physical products, it is the most important ratio. Inventory turnover is calculated as follows:
    </p>
    <p>
        Inventory turnover ratio = Net sales/Inventory = _ times
    </p>
    <p>
        This means that you divide net sales, from the income statement, from the inventory figure on the balance sheet
        and you get a number that is a number of times. That number signifies the number of times inventory is sold and
        restocked each year. If the number is high, you may be in danger of stockouts. If it is low, watch out for
        obsolete inventory.
    </p>
    <p style="color: #5AB190">Receivables Turnover | RTR</p>
    <p>
        Receivables turnover is a ratio that works hand in hand with an average collection period to give the business
        owner a complete picture of the state of the accounts receivable. Receivables turnover looks at how fast we
        collect on our sales or, on average, how many times each year we clean up or totally collect our accounts
        receivable. The calculation is as follows:
    </p>
    <p>
        Receivables Turnover = Sales/Accounts Receivable = _ times
    </p>
    <p>
        Generally, the higher the receivables turnover, the better as it means you are collecting your credit accounts
        on a timely basis. If your receivables turnover is low, you need to take a look at your credit and collections
        policy and be sure they are on target.
    </p>
    <p style="color: #5AB190">Payables Turnover | PTR</p>
    <p>
        The accounts payable turnover ratio is a short-term liquidity measure used to quantify the rate at which a
        company pays off its suppliers. Accounts payable turnover shows how many times a company pays off its accounts
        payable during a period.
        <a href="https://www.investopedia.com/terms/a/accountspayableturnoverratio.asp" target="_blank" style="color: #DABDFF">
            <svg width="0.9em" height="0.9em" viewBox="0 0 16 16" class="bi bi-box-arrow-up-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg" transform="translate(0 -3.8)">
                <path fill-rule="evenodd" d="M1.5 13A1.5 1.5 0 0 0 3 14.5h8a1.5 1.5 0 0 0 1.5-1.5V9a.5.5 0 0 0-1 0v4a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 0 0-1H3A1.5 1.5 0 0 0 1.5 5v8zm7-11a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.5H9a.5.5 0 0 1-.5-.5z"/>
                <path fill-rule="evenodd" d="M14.354 1.646a.5.5 0 0 1 0 .708l-8 8a.5.5 0 0 1-.708-.708l8-8a.5.5 0 0 1 .708 0z"/>
            </svg>
        </a>
    </p>
    <p>
        Accounts payable are short-term debt that a company owes to its suppliers and creditors. The accounts payable
        turnover ratio shows how efficient a company is at paying its suppliers and short-term debts.
    </p>
    <p style="color: #5AB190">Asset Turnover | ATR</p>
    <p>
        The total asset turnover ratio is the asset management ratio that is the summary ratio for all the other asset
        management ratios covered in this article. If there is a problem with inventory, receivables, working capital,
        or fixed assets, it will show up in the total asset turnover ratio. The total asset turnover ratio shows how
        efficiently your assets, in total, generate sales. The higher the total asset turnover ratio, the better and
        the more efficiently you use your asset base to generate your sales. Here is the calculation:
    </p>
    <p>
        Total Asset Turnover = Sales/Total Assets = _ times
    </p>
    <p>
        When you analyze your asset management ratios, you can look at your total asset turnover ratio and if there is
        a problem, you can go back to your other asset management ratios and isolate the problem. Knowing your position
        regarding the efficiency of using assets to make sales is crucial to the success of your firm.
    </p>

    <h3>
        MARKET RATIOS
        <a href="https://www.thebalancesmb.com/what-are-market-value-ratios-and-how-are-they-used-393224" target="_blank" style="color: #DABDFF">
            <svg width="0.9em" height="0.9em" viewBox="0 0 16 16" class="bi bi-box-arrow-up-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg" transform="translate(0 -3.8)">
                <path fill-rule="evenodd" d="M1.5 13A1.5 1.5 0 0 0 3 14.5h8a1.5 1.5 0 0 0 1.5-1.5V9a.5.5 0 0 0-1 0v4a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 0 0-1H3A1.5 1.5 0 0 0 1.5 5v8zm7-11a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.5H9a.5.5 0 0 1-.5-.5z"/>
                <path fill-rule="evenodd" d="M14.354 1.646a.5.5 0 0 1 0 .708l-8 8a.5.5 0 0 1-.708-.708l8-8a.5.5 0 0 1 .708 0z"/>
            </svg>
        </a>
    </h3>
    <h4>OVERVIEW</h4>
    <hr>
    <p>
        Market value ratios help evaluate the economic status of publicly traded companies and can play a role in
        identifying stocks that may be overvalued, undervalued, or priced fairly.
    </p>
    <p>
        Although a wide variety of market value ratios are available, the most popular include earnings per share,
        book value per share, and the price-earnings ratio. Others include the price/cash ratio, dividend yield ratio,
        market value per share, and the market/book ratio. Each of these measures is used in a different way, but when
        combined, they offer a financial portrait of publicly traded companies. In addition, market value ratios give
        management an idea of what a firm's investors think of its performance and future prospects.
    </p>
    <p>
        Market value ratios are also used to analyze stock trends. For example, a company's low price-earnings ratio
        may indicate the stock is an undervalued bargain in a stable industry, but it also could indicate the company's
        earnings prospects are relatively uncertain, and the stock may be a risky bet.
    </p>
    <p>
        You should always consider various factors, including a range of market value ratios, when making a decision
        about an investment. A stock with one great-looking measure could be an undiscovered gem, or it could be a dud
        that's underpriced for a reason.
    </p>
    <h4>RATIOS</h4>
    <hr>
    <p style="color: #5AB190">Earnings per Share | EPS</p>
    <p>
        Earnings per share measure a company's net income per share of outstanding stock, indicating a company's
        profitability to investors. To calculate earnings per share, divide the company's net income by the number of
        outstanding shares (the stock currently held by all shareholders). For example, if a company has $10 million in
        net income and 4 million outstanding shares, the earnings per share would be $10 million divided by 4 million,
        which amounts to $2.50.
    </p>
    <p style="color: #5AB190">Price-Earnings Ratio | PER</p>
    <p>
        The price-earnings ratio is the current price of the stock divided by the earnings per share. Earnings
        generally are calculated by looking at the last four quarters of financial results. For example, if a stock is
        trading at $25 per share and its earnings per share are $2.50, the P/E ratio would be $25 divided by $2.50,
        which equals a ratio of 10-to-1. Analysts also talk about a forward P/E ratio, which is the estimated P/E ratio
        for the next four quarters.
    </p>
    <p style="color: #5AB190">Dividend Yield | DYR</p>
    <p>
        Analysts arrive at the dividend yield ratio by dividing the total dividend payments paid per year by the market
        price of the stock. For example, if a company pays out dividends quarterly in the amounts of $2.25, $2.50,
        $2.50, and $2.75, the total dividend payments for the year would be $10. If the price of the stock is $100, you
        would divide $10 (dividend payments) by $100 (stock price). The answer is 0.10, or 10%. Knowing this ratio
        helps you understand the return on your investment.
    </p>
{% endblock %}