{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <h3 style="text-align: center; color: #5AB190">
        LOG IN
    </h3>
    </br>
    <form action="/login" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="USERNAME" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="PASSWORD" type="password">
        </div>
        <button class="btn btn-primary" type="submit">LOG IN</button>
    </form>
{% endblock %}
